[Unit]
Description=Octopus worker service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=worker
WorkingDirectory=/home/worker
ExecStart=/usr/bin/java -jar worker-jar-with-dependencies.jar
Environment="REDIS_HOST={{ redis_host }}"
Environment="POSTGRES_HOST={{ postgres_host }}"
Environment="POSTGRES_PORT={{ postgres_port }}"
Environment="POSTGRES_DB={{ postgres_db }}"
Environment="POSTGRES_USER={{ postgres_user }}"
Environment="POSTGRES_PASSWORD={{ postgres_password }}"